.ProductAdd{
    padding: 20px;
}
.form-group{
    display: flex;
    align-items: center;
    margin: 10px 0;
}
.form-control{
    width: 100%;
}
.ProductAdd .form-group .left{
    flex: 1;
    margin-right: 10px;
}
.ProductAdd .form-group:nth-child(2) .left{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.ProductAdd .form-group .right{
    flex: 1;
}

.ProductAdd .form-group .icon{
    font-size: 30px;
}
.mt-5{
    margin-top: 10px;
}

.btn-submit{
    background-color: #7451f8;
    color:whitesmoke;
    font-size: 18px;
}

.p-10-35{
    padding: 10px 35px;;
}

.b-none{
    border: none;
}

.ProductAdd .form-label{
    color: rgba(0, 0, 0, 0.6);
    font-family: "Roboto","Helvetica","Arial",sans-serif;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.4375em;
    letter-spacing: 0.00938em;
}

.ProductAdd .db{
    display: block;
}