.ProductAdd{
    padding: 20px;
}
.form-group{
    display: flex;
    align-items: center;
    margin: 10px 0;
}
.form-control{
    width: 100%;
}
.ProductAdd .form-group .left{
    flex: 1;
    margin-right: 10px;
}
.ProductAdd .form-group .right{
    flex: 1;
}

.ProductAdd .form-group .icon{
    font-size: 30px;
}
.mt-5{
    margin-top: 10px;
}

.btn-submit{
    background-color: #7451f8;
}

.p-10-35{
    padding: 10px 35px;;
}

.b-none{
    border: none;
}