.multiple-upload{
    max-width: 900px;
    margin: 25px auto;
    padding: 20px;
    border: 0.5px solid rgb(230,227,227);
}
.multiple-upload .container {
    display: flex;
    flex-direction: column;
    font-family: sans-serif;
}
.multiple-upload p{
    flex: 1 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-width: 2px;
    border-radius: 2px;
    border-color: #eeeeee;
    border-style: dashed;
    background-color: #fafafa;
    color: #bdbdbd;
    outline: none;
    transition: border .24s ease-in-out;
    height: 130px;
    line-height: 130px;
    font-size: 22px;
}
