.datatable{
    /*height: 500px;*/
}

.datatable   .cellWithImg{
    display: flex;
    align-items: center;
}
.datatable .cellWithImg > .cellImg{
    width: 32px;
    height: 32px;
    border-radius: 50%;
    margin-right:20px ;
    object-fit: cover;
}
.btn{
    display: inline-block;
    padding: 5px 10px;
    color: whitesmoke;
    text-decoration: none;
    margin-right: 5px;
    border-radius: 10%;

}
.btn:last-child{
    margin-right: 0;
}
.btn-success{
    background-color: #2d72be;
}
.btn-warning{
    background-color: #cdcd28;
}
.btn-danger{
    background-color: #ad3838;
}