.datatable{
    /*height: 500px;*/
}

.datatable   .cellWithImg{
    display: flex;
    align-items: center;
}
.datatable .cellWithImg > .cellImg{
    width: 32px;
    height: 32px;
    border-radius: 50%;
    margin-right:20px ;
    object-fit: cover;
}

.datatable .ProdAddBtn{
    margin-right: 5px;
}

.datatable .ProdAddBtn:last-child{
    margin-right: 0px;
}