.Navbar{
    height: 50px;
    border-bottom: 0.5px solid rgb(231,228,228);
    display: flex;
    align-items: center;
    font-size: 14px;
    color: #555;
}

.Navbar > .wrapper{
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
.Navbar > .wrapper > .search{
    display: flex;
    align-items: center;
    border: 0.5px solid lightgray;
    padding: 3px;
}
.Navbar > .wrapper > .search > input{
    border: none;
    background: transparent;
}
.Navbar > .wrapper > .search > input::placeholder{
    font-size: 12px;
}


.Navbar > .wrapper > .items{
    display: flex;
    align-items: center;
}

.Navbar > .wrapper > .items > .item{
    display: flex;
    align-items: center;
    margin-right: 20px;
    position: relative;


}
.Navbar > .wrapper > .items > .item > .avatar{
    width: 30px;
    height: 30px;
    border-radius: 50%;
}
.Navbar > .wrapper > .items > .item > .icon{
    font-size: 20px;
}
.Navbar > .wrapper > .items > .item > .counter{
    width: 15px;
    height: 15px;
    background-color: red;
    border-radius: 50%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 10px;
    font-weight: bold;
    position: absolute;
    top: -5px;
    right: -5px;
}