.Footer{
    text-align: center;
    margin-top: 10px;
    padding: 15px 0;
    border-top: 0.5px solid rgb(231,228,228);
    color: #888;
}
.Footer > span > a{
    color: #7451f8;
    font-weight: 500;
    text-decoration: none;
}